@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

/* *{
    outline: 1px solid red;
} */

/* 
.categories-list::-webkit-scrollbar {
    width: 0.5rem;
    height: 5px;
    border-radius: 1rem;
  }
   
  .categories-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  .categories-list::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  } */